<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gropy - About us</title>
</head>
<body>
<main>
    <section class="description-about-us">
        <p>
            Lorem fistrum de la pradera está la cosa muy malar está la cosa muy malar apetecan fistro. La caidita mamaar
            te voy a borrar el cerito fistro al ataquerl jarl a wan te voy a borrar el cerito a peich. Ese hombree tiene
            musho peligro apetecan se calle ustée no puedor me cago en tus muelas. Va usté muy cargadoo caballo blanco
            caballo negroorl diodeno va usté muy cargadoo está la cosa muy malar no te digo trigo por no llamarte
            Rodrigor mamaar.
        </p>
    </section>
    <figure class="coworker-card">
        <img src="" alt="photo of one of the project collaborators">
        <figcaption>Amet consectetur adipisicing</figcaption>
        <a href="https://es.linkedin.com/" alt="LinkedIn icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/" alt="GitHub icon"><i class="fa-brands fa-github"></i></a>
    </figure>
    <figure class="coworker-card">
        <img src="" alt="photo of one of the project collaborators">
        <figcaption>Amet consectetur adipisicing</figcaption>
        <a href="https://es.linkedin.com/" alt="LinkedIn icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/" alt="GitHub icon"><i class="fa-brands fa-github"></i></a>
    </figure>
    <figure class="coworker-card">
        <img src="" alt="photo of one of the project collaborators">
        <figcaption>Amet consectetur adipisicing</figcaption>
        <a href="https://es.linkedin.com/" alt="LinkedIn icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/" alt="GitHub icon"><i class="fa-brands fa-github"></i></a>
    </figure>
    <figure class="coworker-card">
        <img src="" alt="photo of one of the project collaborators">
        <figcaption>Amet consectetur adipisicing</figcaption>
        <a href="https://es.linkedin.com/" alt="LinkedIn icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/" alt="GitHub icon"><i class="fa-brands fa-github"></i></a>
    </figure>
    <figure class="coworker-card">
        <img src="" alt="photo of one of the project collaborators">
        <figcaption>Amet consectetur adipisicing</figcaption>
        <a href="https://es.linkedin.com/" alt="LinkedIn icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/" alt="GitHub icon"><i class="fa-brands fa-github"></i></a>
    </figure>
    <figure class="coworker-card">
        <img src="" alt="photo of one of the project collaborators">
        <figcaption>Amet consectetur adipisicing</figcaption>
        <a href="https://es.linkedin.com/" alt="LinkedIn icon"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/" alt="GitHub icon"><i class="fa-brands fa-github"></i></a>
    </figure>
</main>
</body>
<link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.2.0-web/css/all.css"/>
</html>