<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <section class="plans-section">
            <h2>Plans</h2>
            <div class="grid-card-plans">
                <figure class="card-plans">
                    <div class="card-plans-header">
                        <h3>Basic</h3>
                        <h4>Free</h4>
                        <p>
                            For individuals accounts trying out Gropy for
                            unlimited period
                        </p>
                    </div>
                    <ul>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Unlimited access to Gropy templates</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-minus"></i>
                            <p><em>Create your own data</em></p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-minus"></i>
                            <p>
                                <em>Share your creations with your friends</em>
                            </p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-minus"></i>
                            <p><em>More aviable formats to export data</em></p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-minus"></i>
                            <p>
                                <em>Online support for technical assistance</em>
                            </p>
                        </li>
                    </ul>
                    <a href="">Select</a>
                </figure>

                <figure class="card-plans">
                    <div class="card-plans-header">
                        <h3>Medium</h3>
                        <h4>4.99€ <span>per month</span></h4>
                        <p>
                            For individuals accounts who want to leap with new
                            and development options
                        </p>
                    </div>
                    <ul>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Unlimited access to Gropy templates</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Create your own data</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Share your creations with your friends</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-minus"></i>
                            <p><em>More aviable formats to export data</em></p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-minus"></i>
                            <p>
                                <em>Online support for technical assistance</em>
                            </p>
                        </li>
                    </ul>
                    <a href="">Select</a>
                </figure>

                <figure class="card-plans">
                    <div class="card-plans-header">
                        <h3>Premium</h3>
                        <h4>9.99€ <span>per month</span></h4>
                        <p>
                            For individuals accounts who want more security and
                            speed
                        </p>
                    </div>
                    <ul>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Unlimited access to Gropy templates</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Create your own data</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Share your creations with your friends</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>More aviable formats to export data</p>
                        </li>
                        <li>
                            <i class="fa-sharp fa-solid fa-check"></i>
                            <p>Online support for technical assistance</p>
                        </li>
                    </ul>
                    <a href="">Select</a>
                </figure>
            </div>
        </section>
        <link
            rel="stylesheet"
            href="../fonts/fontawesome-free-6.2.0-web/css/all.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../assets/styles/style.css" />
    </body>
</html>
