@import '../fonts/fontawesome-free-6.2.0-web/css/all.css'; //ADD to generic sass

$color-primary: #eefcf8;
$color-secondary: #00abb3;
$color-tertiary: #3c4048;
$color-plan-basic: #449ed1;
$color-plan-medium: #4459d1;
$color-plan-premium: #7a44d1;
$color-quaternary: #ffc300;
$color-anchor: #000000;

em {
    opacity: 0.7;
    text-decoration: line-through;
}

.plans-section {
    background-color: $color-secondary;
    padding: 50px 0;

    h2 {
        font-size: 5rem;
        font-weight: 800;
        text-align: center;
        text-shadow: 0px 3px 0px $color-quaternary;
        text-transform: uppercase;
    }
    .grid-card-plans {
        grid-gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 auto;
        max-width: 1300px;
        padding: 1rem;

        .card-plans {
            align-items: center;
            background-color: $color-primary;
            border: 2px solid $color-anchor;
            border-radius: 10px;
            box-shadow: 5px 5px 0px 0px #2b2b2b, 10px 10px 0px 0px #494949,
                15px 15px 0px 0px #7c7c7c, 20px 20px 0px 0px #afafaf,
                25px 25px 0px 0px #d3d3d3, 5px 5px 0px 5px rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: column;
            padding: 1rem;

            /* clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%); */

            .card-plans-header {
                h3 {
                    background-color: $color-plan-basic;
                    clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
                    color: $color-primary;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    text-align: center;
                }

                h4 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    text-align: center;

                    span {
                        font-size: 1rem;
                        font-weight: 400;
                        opacity: 0.7;
                    }
                }

                p {
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin: 1rem 0.8rem 2rem 0.8rem;
                    min-height: 12%;
                    text-align: center;
                }
            }

            ul {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                list-style: none;
                margin-bottom: 2rem;
                padding: 1rem;

                li {
                    align-items: center;
                    align-items: center;
                    display: flex;
                    display: flex;
                    flex-direction: row;
                    font-size: 15px;
                    font-weight: 400;
                    justify-content: flex-start;
                    margin-bottom: 0.5rem;

                    i {
                        margin-right: 0.5rem;
                    }

                    .fa-check {
                        color: #3cff00;
                    }
                    .fa-minus {
                        color: #ff0000;
                    }
                }
            }

            a {
                background: white;
                border: 2px solid $color-tertiary;
                border-radius: 5px;
                box-shadow: 3px 3px 0 $color-tertiary,
                    -3px -3px 0 $color-tertiary, -3px 3px 0 $color-tertiary,
                    3px -3px 0 $color-tertiary;
                color: $color-tertiary;
                cursor: pointer;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 2rem;
                padding: 0.5rem 1rem;
                transition: 0.5s ease-in-out;

                &:hover {
                    box-shadow: 10px 5px 0 $color-tertiary,
                        -10px -5px 0 $color-tertiary;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .card-plans:nth-child(2) {
            .card-plans-header {
                h3 {
                    background-color: $color-plan-medium;
                }
            }
        }

        .card-plans:nth-child(3) {
            .card-plans-header {
                h3 {
                    background-color: $color-plan-premium;
                }
            }
        }
    }
}
