:root {
    --color-primary: #eefcf8;
    --color-secondary: #00abb3;
    --color-tertiary: #3c4048;
    --color-quaternary: #ffc300;
}

@font-face {
    font-family: 'Monserrat';
    src: url('assets/fonts/Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Monserrat', sans-serif;
}

body {
    background-color: var(--color-primary);
}

header {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    color: var(--color-tertiary);
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

nav a {
    position: relative;
    padding: 6px 0;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: 0.2s;
}

nav a:hover i {
    transform: rotate(-5deg);
}

nav a:hover::after {
    width: 100%;
}

nav a i {
    color: var(--color-secondary);
    font-size: 1rem;
    margin-right: 6px;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

.login-register {
    height: 50px;
    width: 180px;
    background-color: var(--color-secondary);
    text-align: center;
    line-height: 50px;
    font-size: large;
    color: var(--color-primary);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.login-register:hover {
    background: linear-gradient(
        to right,
        var(--color-secondary),
        var(--color-quaternary)
    );
}

.separator {
    height: 4px;
    width: 0;
    position: sticky;
    top: 0%;
    left: 0%;
    background-color: var(--color-secondary);
    z-index: 5;
}

section {
    height: 100vh;
}
