@font-face {
    font-family: 'Monserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
    font-family: 'Monserrat', sans-serif;
}

section {
    height: 100vh;
}

header {
    align-items: center;
    color: #3c4048;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
    position: sticky;
    top: 0;
    width: 80%;
}
header .logo {
    width: 200px;
}
header .logo img {
    transition: 0.3s;
    width: 100%;
}
header nav {
    align-items: center;
    display: flex;
    font-size: larger;
    justify-content: space-around;
    width: 50%;
}
header nav a {
    padding: 6px 0;
    position: relative;
}
header nav a i {
    color: #00abb3;
    font-size: 1rem;
    margin-right: 6px;
}
header nav a::after {
    background-color: #00abb3;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 0;
}
header nav a:visited,
header nav a:hover,
header nav a:active {
    color: inherit;
}
header nav a:hover i {
    transform: rotate(-5deg);
}
header nav a:hover::after {
    width: 100%;
}
header .login-register {
    background-color: #00abb3;
    border-radius: 5px;
    color: #eefcf8;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 180px;
}
header .login-register:hover {
    background: linear-gradient(to right, #00abb3, #ffc300);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.separator {
    background-color: #00abb3;
    height: 4px;
    left: 0%;
    position: sticky;
    top: 0%;
    width: 0;
    z-index: 5;
}

header .header-scroll-animation {
    padding-top: 15px;
    transition: 0.3s;
}

.logo img.logo-scroll-animation {
    margin-left: 250px;
    object-fit: cover;
    object-position: 90px;
    transition: 0.3s;
    width: 70%;
}
