@import '../fonts/fontawesome-free-6.2.0-web/css/all.css'; /* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Monserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
    font-family: 'Monserrat', sans-serif;
}

section {
    height: 100vh;
}

header {
    align-items: center;
    color: #3c4048;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
    position: sticky;
    top: 0;
    width: 80%;
}
header .logo {
    width: 200px;
}
header .logo img {
    transition: 0.3s;
    width: 100%;
}
header nav {
    align-items: center;
    display: flex;
    font-size: larger;
    justify-content: space-around;
    width: 50%;
}
header nav a {
    padding: 6px 0;
    position: relative;
}
header nav a i {
    color: #00abb3;
    font-size: 1rem;
    margin-right: 6px;
}
header nav a::after {
    background-color: #00abb3;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 0;
}
header nav a:visited,
header nav a:hover,
header nav a:active {
    color: inherit;
}
header nav a:hover i {
    transform: rotate(-5deg);
}
header nav a:hover::after {
    width: 100%;
}
header .login-register {
    background-color: #00abb3;
    border-radius: 5px;
    color: #eefcf8;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 180px;
}
header .login-register:hover {
    background: linear-gradient(to right, #00abb3, #ffc300);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.separator {
    background-color: #00abb3;
    height: 4px;
    left: 0%;
    position: sticky;
    top: 0%;
    width: 0;
    z-index: 5;
}

em {
    opacity: 0.7;
    text-decoration: line-through;
}

.plans-section {
    background-color: #00abb3;
    padding: 50px 0;
}
.plans-section h2 {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    text-shadow: 0px 3px 0px #ffc300;
    text-transform: uppercase;
}
.plans-section .grid-card-plans {
    grid-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    max-width: 1300px;
    padding: 1rem;
}
.plans-section .grid-card-plans .card-plans {
    align-items: center;
    background-color: #eefcf8;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px #2b2b2b, 10px 10px 0px 0px #494949,
        15px 15px 0px 0px #7c7c7c, 20px 20px 0px 0px #afafaf,
        25px 25px 0px 0px #d3d3d3, 5px 5px 0px 5px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%); */
}
.plans-section .grid-card-plans .card-plans .card-plans-header h3 {
    background-color: #449ed1;
    clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
    color: #eefcf8;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}
.plans-section .grid-card-plans .card-plans .card-plans-header h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}
.plans-section .grid-card-plans .card-plans .card-plans-header h4 span {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
}
.plans-section .grid-card-plans .card-plans .card-plans-header p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 1rem 0.8rem 2rem 0.8rem;
    min-height: 12%;
    text-align: center;
}
.plans-section .grid-card-plans .card-plans ul {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin-bottom: 2rem;
    padding: 1rem;
}
.plans-section .grid-card-plans .card-plans ul li {
    align-items: center;
    align-items: center;
    display: flex;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 400;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}
.plans-section .grid-card-plans .card-plans ul li i {
    margin-right: 0.5rem;
}
.plans-section .grid-card-plans .card-plans ul li .fa-check {
    color: #3cff00;
}
.plans-section .grid-card-plans .card-plans ul li .fa-minus {
    color: #ff0000;
}
.plans-section .grid-card-plans .card-plans a {
    background: white;
    border: 2px solid #3c4048;
    border-radius: 5px;
    box-shadow: 3px 3px 0 #3c4048, -3px -3px 0 #3c4048, -3px 3px 0 #3c4048,
        3px -3px 0 #3c4048;
    color: #3c4048;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    transition: 0.5s ease-in-out;
}
.plans-section .grid-card-plans .card-plans a:hover {
    box-shadow: 10px 5px 0 #3c4048, -10px -5px 0 #3c4048;
}
.plans-section .grid-card-plans .card-plans a:focus {
    outline: none;
}
.plans-section .grid-card-plans .card-plans:nth-child(2) .card-plans-header h3 {
    background-color: #4459d1;
}
.plans-section .grid-card-plans .card-plans:nth-child(3) .card-plans-header h3 {
    background-color: #7a44d1;
}

header .header-scroll-animation {
    padding-top: 15px;
    transition: 0.3s;
}

.logo img.logo-scroll-animation {
    margin-left: 250px;
    object-fit: cover;
    object-position: 90px;
    transition: 0.3s;
    width: 70%;
}
